/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap');

/* utilities */
body {
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
}

main,
.navigation {
    width: 1240px;
    margin: 0 auto;
}

section {
    margin-bottom: 130px;
}

/* ----------- HEADER STYLES START -----------------
---------------------------------------------------- */

/*----------- navigation styles start -------- */
header {
    background-color: #ff900e1a;
    margin-bottom: 130px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.nav-list ul {
    display: flex;
    gap: 15px;
}

.nav-list ul li {
    list-style: none;
    color: #424242;
    font-size: 18px;
}

/*-------- navigation styles end --------- */

/*--------  banner styles start ---------- */
.banner-info {
    text-align: center;
}

.banner-info .banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-info .banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.primary-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    margin: 30px 0 50px 0;
}

.banner-image img {
    width: 100%;
    margin-bottom: 45px;
}

/*-----------------------------------------------------
            MAIN SECTION STYLES START 
------------------------------------------------------- */
/*---- architects-group start -----*/
.architects-group{
    display: flex;
    gap: 75px;
    align-items: center;
}
.architects-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-info-title>.quick-list,
.of-our,
.features {
    font-size: 45px;
    font-weight: 700;
}

.quick-list {
    color: #727272;
}

.of-our {
    color: #131313;
}

.features {
    color: #FF900E;
}

.team-info-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
/*---- architects-group end -----*/






/*--------------------------------------------------------
----------------- Responsive styles start-----------  */
@media screen and (max-width: 576px) {
    .hide {
        display: none;
    }

    /* utilities */
    header,
    body,
    main,
    .navigation {
        width: 100%;
    }

    /* header navigation responsive */
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar h2 {
        margin-bottom: 20px;
    }

    .nav-list ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }

    .nav-list ul li {
        font-size: 24px;
    }

    /* banner responsive */
    .banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-info .banner-title {
        margin-bottom: 0;
    }

    .banner-image img {
        margin-bottom: 0;
    }

    /*------- main styles responsive -------*/

    /* architects-group responsive */
    .architects-group{
        flex-direction: column;
    }
    .architects-team{
        grid-template-columns: repeat(1,1fr);
    }
    .architects-team .team-img img{
        width: 100%;
    }
    .architects-team-info{
        text-align: center;
    }
}