/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,500&display=swap');

/* utilities */
body {
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
}
main,.navigation{
    width: 1240px;
    margin: 0 auto;
}
section{
    margin-bottom: 130px;
}
/* ----------- HEADER STYLES START -----------------
---------------------------------------------------- */

/*----------- navigation styles start -------- */
header{
    background-color: #ff900e1a;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.nav-list ul {
    display: flex;
    gap: 15px;
}

.nav-list ul li {
    list-style: none;
    color: #424242;
    font-size: 18px;
}

/*-------- navigation styles end --------- */

/*--------  banner styles start ---------- */
.banner-info {
    text-align: center;
}

.banner-info .banner-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}

.banner-info .banner-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.primary-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    margin: 30px 0 50px 0;
}

.banner-image img {
    width: 100%;
    margin-bottom: 45px;
}

/*--------------------------------------------------------
----------------- Responsive styles start-----------  */
@media screen and (max-width: 576px) {
.hide{
    display: none;
}
    /* utilities */
   header,body,main,.navigation {
        width: 100%;
    }

    /* header navigation responsive */
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar h2 {
        margin-bottom: 20px;
    }

    .nav-list ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }

    .nav-list ul li {
        font-size: 24px;
    }
    /* banner responsive */
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-info .banner-title{
        margin-bottom: 0;
    }
    .banner-image img{
        margin-bottom: 0;
    }
}